<div class="row">
    <div class="col-xl-12">

        <!-- Section Headline -->


        <!-- Jobs Container -->
        <div class="listings-container compact-list-layout margin-top-35">

            <!-- Job Listing -->

            <div *ngFor="let item of groups">
                <div class="job-listing with-apply-button">

                    <!-- Job Listing Details -->
                    <div class="job-listing-details">

                        <!-- Logo -->
                        <div class="job-listing-company-logo">
                            <img alt="" src="images/company-logo-01.png">
                        </div>

                        <!-- Details -->
                        <div class="job-listing-description">
                            <h3 class="job-listing-title">{{item.nom}}</h3>

                            <!-- Job Listing Footer -->
                            <div class="job-listing-footer">
                                <ul>
                                    <li><i class="icon-material-outline-supervisor-account"></i> Membres
                                        ( {{item.membres.length}})
                                        <div class="verified-badge" data-original-title="Verified Employer" data-tippy=""
                                             data-tippy-placement="top"></div>
                                    </li>
                                    <li><i class="icon-material-outline-access-time"></i> 2 days ago</li>
                                </ul>
                            </div>
                        </div>

                        <!-- Apply Button -->
                        <button (click)='getWorkGroup(item.slug)' class="list-apply-button ripple-effect" type="button">
                            Acceder au groupe
                        </button>
                    </div>
                </div>
            </div>


            <!-- Job Listing -->


        </div>
        <!-- Jobs Container / End -->

    </div>
</div>
